html,body {
        margin:0;
        padding:0;
        height:100%;
}
div.controlPanel{
    background-color: #7FFF00;
    width: 38.2%;
    height: 100%;
    float: left;
}
div.coordinateSystem{
    background-color: #8B4513;
    width: 61.8%;
    height: 100%;
    float: left;
}
div.kreis {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background-color: chartreuse;
}

div.big{
    background-color: darkblue;
    height: 61.8%;
    width: 100%;
    float: left;
}
div.small{
    background-color: darkslateblue;
    height: 38.2%;
    width: 100%;
    float: left;
}