html,body {
        margin:0;
        padding:0;
        height:100%;
}
div.controlPanel{
    background-color: lightblue;
    width: 38.2%;
    height: 100%;
    float: left;
}
div.coordinateSystem{
    background-color: gray;
    width: 61.8%;
    height: 100%;
    float: left;
}